node_modules
package-lock.json
.env
.env.production
Dockerfile
.dockerignore
desktop.ini
.eslintrc.cjs
.gitignore
build-product.yml
libssl1.1_1.1.1w-0+deb11u2_amd64.deb
libssl1.1-error-troubleshooting.sh